/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family:monospace;
  }
  ul {
    padding:0;
  }
  
  /* css rules */
  body {
    background: #696969;
    font-size-adjust: 0.53;
  }
  
  div {
    overflow: hidden;
  }
  
  table, td {
    padding: 5px;
  }
  
  .wrapper {
    width:1250px; margin: 0 auto;
  }
  
  .main {
    float: left;
  }
  
  .canvas {
    border: 5px solid green;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    background: black;
    color: lightgreen;
    width: 850px;
    height: 540px;
    font-size: 20px;
    line-height: 24px;
    white-space: pre;
    /*letter-spacing: 1px;*/
  }
  