/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family:monospace;
}
ul {
  padding:0;
}

/* css rules */
body {
  background: #696969;
  font-size-adjust: 0.53;
}

div {
  overflow: hidden;
}

table, td {
  padding: 5px;
}

.wrapper {
  width:1250px; margin: 0 auto;
}

.main {
  float: left;
}

.canvas {
  border: 5px solid green;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
  background: black;
  color: lightgreen;
  width: 850px;
  height: 540px;
  font-size: 6px;
  line-height: 6px;
  white-space: pre;
  /*letter-spacing: 1px;*/
}

.canvas p, .canvas pre {
  font-size: 17px !important;
  line-height: 20px !important;
}

.hint {
  margin: 2px 0;
  border: 2px solid black;
  width: 865px;
  font-size: 16px;
  line-height: 37px;
  font-weight: bold;
  background-color: white;
}

.hint span.simon {
  background-color: black;
  color: white;
  padding: 10px 8px;
  margin-top: 6px;
}

.hint span.text {
  background-color: white;
  color: black;
  padding: 10px 6px;
  margin-top: 6px;
}

.profile {
  border: 5px solid #1F497D;
  border-radius: 10px;
  background-color: black;
  float:left;
  width: 370px;
  height: 755px;
  font-size: 14px;
}

.terminal {
  border: 5px solid green;
  border-radius: 10px;
  background-color: black;
  width: 840px;
  height: 130px;
  font-size: 14px;
  line-height: 16px;
}
