.profile p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 6px;
}

.profile a {
    color: white;
}

.profile strong {
    color: lightgreen;
}

.profile span {
    color: white;
    font-weight: bold;
}

.profile div.name {
    display: block;
    width: 100% !important;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    overflow: hidden;
    padding: 20px 0px 14px 14px !important;
    color : white;
}

.profile div {
    float: left;
    width: 40%;
    padding: 8px;
}

.profile div.hardware {
    margin-right: 20px;
}

.profile .portrait {
    margin: 6px;
    width: 160px;
    color: white;
    background: black;
    font-size: 6px;
    line-height: 6px;
    white-space: pre;
}

.profile section {
    display: block;
    clear: both;
}


.profile fieldset {
    border: 3px double #ccc;
    background: #ddd;
    border-radius: 5px;
    padding: 1px 3px;
}

.profile fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 3px 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: -1px;
}

.profile .resources {
    margin-top: 10px;
    text-align: right;
}

.profile dl {
    margin: 5px 0px;
}

.profile dt {
    float: left;
    clear: left;
    text-align: left;
    color: #1F497D;
    overflow: hidden;
    white-space: nowrap ;
    padding: 3px 0 0 0;
}

.profile dd {
    color: #1F497D;
    padding: 3px 0 3px 0;
    text-align: right;
    font-size: 16px;
}

.profile dt:after {
    content: "..........................";
}

.stats dt {
    width: 120px;
    line-height: 16px;
}

.hardware dt {
    width: 120px;
}

.ram {
    width: 110px !important;
}

.hdd {
    width: 90px !important;
}

.software {
    overflow: auto !important;
    max-height: 380px;
}

.software dt {
    width: 105px;
}

.loaded {
    font-weight: bolder;
}

.mod {
    font-weight: bold;
}

.bad {
    color: red !important;
}

/* end profile styles */