.terminal-output {
    margin-bottom: 10px;
}
.terminal-output div.highlight {
    color: white;
    font-weight: bold;
}
.terminal-output div.warning {
    color: red;
    font-weight: bold;
}
.terminal .terminal-output .format, .cmd .format,
.cmd .prompt, .cmd .prompt div, .terminal .terminal-output div div{
    display: inline-block;
}
.terminal .terminal-output .command {
    margin-top: 10px;
}
.cmd .mask, .cmd .clipboard {
    position: absolute;
    display: block;
    bottom: 0;
    height: 16px;
    left: -10px;
}

.terminal h1, .terminal h2, .terminal h3, .terminal h4, .terminal h5, .terminal h6, .terminal pre, .cmd {
    margin: 0;
}
.terminal h1, .terminal h2, .terminal h3, .terminal h4, .terminal h5, .terminal h6 {
    line-height: 1.2em;
}
.wrap {
    word-wrap: break-word;
    overflow: initial;
}
.terminal .error {
    color: #f00;
}
.terminal {
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    overflow-x: visible;
}
.cmd {
    padding: 0;
    height: 1.3em;
    position: relative;
    /*margin-top: 3px; */
}
.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: lightgreen;
    color: #000;
}
.cmd .cursor.blink {
    -webkit-animation: terminal-blink 1s infinite steps(1, start);
    -moz-animation: terminal-blink 1s infinite steps(1, start);
    -ms-animation: terminal-blink 1s infinite steps(1, start);
    animation: terminal-blink 1s infinite steps(1, start);
}
@-webkit-keyframes terminal-blink {
    0%, 100% {
        background-color: #000;
        color: lightgreen;
    }
    50% {
        background-color: lightgreen;
        color: #000;
    }
}

@-ms-keyframes terminal-blink {
    0%, 100% {
        background-color: #000;
        color: lightgreen;
    }
    50% {
        background-color: lightgreen;
        color: #000;
    }
}

@-moz-keyframes terminal-blink {
    0%, 100% {
        background-color: #000;
        color: lightgreen;
    }
    50% {
        background-color: lightgreen;
        color: #000;
    }
}
@keyframes terminal-blink {
    0%, 100% {
        background-color: #000;
        color: lightgreen;
    }
    50% {
        background-color: lightgreen; /* not #aaa because it's seems there is Google Chrome bug */
        color: #000;
    }
}

.terminal .terminal-output div div, .cmd .prompt {
    display: block;
    line-height: 16px;
    height: auto;
}
.cmd .prompt {
    float: left;
}
.terminal, .cmd {
    color: lightgreen;
    background-color: #000;
    font-size: 12px;
    line-height: 16px;
}
.terminal-output > div {
    /*padding-top: 3px;*/
    min-height: 14px;
}
.terminal .terminal-output div span {
    display: inline-block;
    overflow: visible;
}
.cmd input {
    background-color: black;
    color: black;
    text-shadow: 0px 0px 0px lightgreen;
    -webkit-text-fill-color: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-size: 12px;
}
/* fix double style of selecting text in terminal */
.terminal-output span, .terminal-output a, .cmd div, .cmd span, .terminal td,
.terminal pre, .terminal h1, .terminal h2, .terminal h3, .terminal h4,
.terminal h5, .terminal h6 {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.terminal, .terminal-output, .terminal-output div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* firefox hack */
@-moz-document url-prefix() {
    .terminal, .terminal-output, .terminal-output div {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }
}
.terminal table {
    border-collapse: collapse;
}
.terminal td {
    border: 1px solid #aaa;
}
.terminal h1::-moz-selection,
.terminal h2::-moz-selection,
.terminal h3::-moz-selection,
.terminal h4::-moz-selection,
.terminal h5::-moz-selection,
.terminal h6::-moz-selection,
.terminal pre::-moz-selection,
.terminal td::-moz-selection,
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection,
.cmd div::-moz-selection,
.cmd > span::-moz-selection,
.cmd .prompt span::-moz-selection {
    background-color: #aaa;
    color: #000;
}
/* this don't work in Chrome
.terminal tr td::-moz-selection {
    border-color: #000;
}
.terminal tr td::selection {
    border-color: #000;
}
*/
.terminal h1::selection,
.terminal h2::selection,
.terminal h3::selection,
.terminal h4::selection,
.terminal h5::selection,
.terminal h6::selection,
.terminal pre::selection,
.terminal td::selection,
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.cmd div::selection,
.cmd > span::selection,
.cmd .prompt span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}